<div class="container-xl" id="Habilidades">

    <p class="h3"> Hard and Soft Skills  </p>

      <p class="Parrafo-Habilidades"> Visualizado como porcentajes u otra forma de visualización atractiva colocarás tus habilidades duras y blandas relacionadas contigo y qué grado de dominio tienes, puedes también generar una sección adicional con los idiomas.
      </p>

      <ul class="Lista-Habilidades">

        <li>
          <div class="progress">
            <div class="progress-bar custom-color" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <span> HTML 75%  </span>
            </div>
          </div>
        </li>

        <li> 
          <div class="progress">
            <div class="progress-bar custom-color" role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <span> 50% </span>
            </div>
          </div>

        </li>
        

    </ul>
   
    
    
    
    
    
    
    
</div>