<nav class="navbar">

    <div class="container-fluid">
      <a href="#" class="navbar-brand">
        <img src="https://i.ytimg.com/an/LiL8X_z48zkZlPJcXrtCQA/featured_channel.jpg?v=619265fc" alt="Logo Argentina Programa" width="36" height="30">
         Argentina Programa #YoProgramo
      </a>

      <div class="d-flex flex-row mb-3">
        <a class="p-2" id="Instagram" href="https://www.instagram.com/diegoleonardi_06/">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/768px-Instagram_logo_2016.svg.png" alt="Instagram" width="30" height="30">
        </a>
        <button type="button" class="btn btn-outline-dark p-2.5" id="Login" routerLink="/login" routerLinkActive="active">
             Login 
        </button>

      </div>
    </div>
  </nav>

  
