.Foto-Perfil{
    padding-top: 50px;
    padding-right: 10px;
    border-radius: 95px; 
}
 
ul li{
    text-decoration: none;
    display: inline-block;
}
 
.Lista{
    padding-bottom: 30px;
    border: 2px solid #114c5f;
    background-color:#b4b7b7 ;
}
 
#Acerca-de{
    margin-bottom: 30px;
}
 
.Acerca{
    width: 67%;
}